a {
  text-decoration: inherit;
  font-family: "nimbus-sans-extended", sans-serif;
}

a.button {
  color: var(--color-tan);
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
  text-transform: uppercase;

  border: 1px solid var(--color-tan);
  border-radius: calc(var(--radius) * 2);

  padding: 2px 12px;
}

a.button.button--primary {
  background: var(--color-lime);
}

a.button.button--secondary {
  background: var(--color-lilac);
}

a.link {
  color: var(--color-tan);
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  a.button {
    color: var(--color-off-white);
    border: 1px solid var(--color-off-white);
  }

  a.button.button--primary {
    background: var(--color-lime-dark);
  }

  a.button.button--secondary {
    background: var(--color-lilac-dark);
  }

  a.link {
    color: var(--color-off-white);
  }
}
